* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.game {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
}

#canvas {
    width: 1000px;
    height: 600px;
    max-width: 100%;
    max-height: 100%;
    border: 1px solid #000;
}

#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#fullscreen {
    border: none;
    outline: none;
    padding: 16px 20px;
    margin: 40px;
    float: right;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    background: #1d4ed8;
    color: white;
}
